# Importing libraries

In [1]:
import numpy as np
import pandas as pd
import random

# Getting number and name of workers

In [2]:
lista = []
number = int(input('Digite a quantidade de funcionários (numérico): '))
print('Digite os nomes dos funcionários: ')
for i in range(number):
    data = input()
    lista.append(data)

Digite a quantidade de funcionários (numérico): 5
Digite os nomes dos funcionários:
Maria
Carlos
Henrique
Carolina
Fernanda

In [3]:
dic = {}
lista_numerica = []
for i in range(0,number):
    lista_numerica.append(i)
    dic[i] = lista[i]

In [4]:
dic

{0: 'Maria', 1: 'Carlos', 2: 'Henrique', 3: 'Carolina', 4: 'Fernanda'}

In [5]:
print('Para uma distribuição igual, a QUANTIDADE DE DIAS X QUANTIDADE DE TURNOS tem que ser múltipla de',number)

Para uma distribuição igual, a QUANTIDADE DE DIAS X QUANTIDADE DE TURNOS tem que ser múltipla de 5

In [6]:
copia_lista = lista_numerica

# Choosing how many shifts per day and how many days it will be

In [7]:
mult = int(input('Qual o total de turnos de trabalho? '))
dias = int(input('Quantos dias de trabalho? '))
lista_numerica = lista_numerica*mult*dias

Qual o total de turnos de trabalho? 6
Quantos dias de trabalho? 5

In [8]:
matriz_exemplo = np.arange(dias*mult,dias*mult*2)

In [9]:
#CASO HAJA RESTRIÇÃO DE HORÁRIOS, RETIRAR #
#matriz_exemplo[3] = 0
#matriz_exemplo

In [10]:
for i in range(0,mult*dias):
    if matriz_exemplo[i] in copia_lista:
        lista_numerica.remove(matriz_exemplo[i])
        pass
    else:
        matriz_exemplo[i] = random.choice(lista_numerica)
        lista_numerica.remove(matriz_exemplo[i])

In [11]:
matriz_exemplo = matriz_exemplo.reshape(dias,mult)
df = pd.DataFrame(matriz_exemplo)
for i in copia_lista:
    df.replace(i,dic[i],inplace = True)
lista_dias = []
for i in df.columns:
    aux = 'Turno'+str(i+1)
    df = df.rename(columns={i:aux})
for i in range(dias):
    lista_dias.append('Dia'+str(i+1))
df = df.set_index([pd.Index(lista_dias)])
df

        Turno1    Turno2    Turno3    Turno4    Turno5    Turno6
Dia1     Maria  Fernanda  Carolina  Carolina  Henrique  Henrique
Dia2  Fernanda  Henrique     Maria    Carlos  Henrique  Fernanda
Dia3  Henrique  Fernanda    Carlos  Henrique    Carlos  Fernanda
Dia4    Carlos    Carlos  Henrique    Carlos  Henrique     Maria
Dia5  Henrique  Henrique  Henrique     Maria  Fernanda     Maria